

.hotel .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
  }
  
  .hotel .box-container .box {
    padding: 5rem;
    text-align: center;
    border: var(--border);
  }
  
  .hotel .box-container .box img {
    height: 10rem;
  }
  
  .hotel .box-container .box h3 {
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
  }
  
  .hotel .box-container .box .price {
    color: #fff;
    font-size: 2.5rem;
    padding: .5rem 0;
  }
  
  .hotel .box-container .box .price span {
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
  }
  
  .hotel .box-container .box:hover {
    background: #fff;
  }
  
  .hotel .box-container .box:hover > *  {
    color: var(--black);
  }
  .hotel .box-container .box:hover span {
    color: var(--black);
  }
  
  